.alert {
    padding: 12px 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;
    animation: fadeInDown 0.3s ease-out;
    z-index:999;
}

.alert-success {
    background-color: #28a745; /* xanh lá */
}

.alert-danger {
    background-color: #dc3545; /* đỏ */
}

.alert-warning {
    background-color: #ffc107; /* vàng */
    color: #212529;
}

.alert-info {
    background-color: #17a2b8; /* xanh dương nhạt */
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
